.Error_User {
    padding-top: 20px;
    margin-left: 80px;
    font-size: 25px;
    color: rgb(255, 0, 0);
    text-align: center;
    display: none;
    display: inline-block;
}

.Error_Mail {
    padding-top: 20px;
    margin-left: 80px;
    font-size: 25px;
    color: rgb(255, 0, 0);
    text-align: center;
    display: none;
    display: inline-block;
}

.Error_Password {
    padding-top: 20px;
    margin-left: 80px;
    font-size: 25px;
    color: rgb(255, 0, 0);
    text-align: center;
    display: none;
    display: inline-block;
}

