.box {
    /* Autres styles pour la boîte... */
    background-color: white;
    overflow-y: scroll; /* Ajoute une barre de défilement verticale si nécessaire */
    margin-top: 50px;
    margin-left: 500px;
    max-width: 1000px;
    margin-bottom: 50px;
    border-radius: 0%;
    max-height: 650px;
    margin-bottom: 200px; /* Définissez la hauteur maximale pour afficher 6 tickets */
}

.ticket {
    /* Styles pour chaque ticket... */
    border: 2px solid black;
    margin-bottom: 10px; /* Espace entre chaque ticket */
    padding: 18px; /* Espace à l'intérieur du ticket */
    font-size: 14px; /* Taille de police pour le ticket */
}

.ticket h3 {
    font-size: 16px; /* Taille de police pour le titre du ticket */
    margin-bottom: 6px; /* Espace sous le titre */
}

.ticket p {
    margin: 0; /* Suppression de la marge inférieure pour éviter un espace supplémentaire sous le texte */
    font-size: 14px; /* Taille de police pour le contenu du ticket */
    line-height: 1.4; /* Espacement des lignes */
}