.box {
    background-color: white;
    opacity: 50%;
    border-radius: 90px;
    margin-top: 50px;
    margin-left: 650px;
    margin-bottom: 50px;
    width: 750px;
    height: 560px;
    display: block;
}

.box_user {
    background-color: white;
    margin-top: 50px;
    margin-left: 220px;
    width: 250px;
    height: 50px;
    border-radius: 90px;
    font-size: 35px;
    color: black;
    text-align: center;
    display: inline-block;
}

.box_user::placeholder {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
}

.box_mail {
    background-color: white;
    margin-top: 50px;
    margin-left: 220px;
    width: 250px;
    height: 50px;
    border-radius: 90px;
    font-size: 35px;
    color: black;
    text-align: center;
    display: inline-block;
}

.box_mail::placeholder {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
}

.box_password {
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-left: 220px;
    width: 250px;
    height: 50px;
    border-radius: 90px;
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline-block;
}

.box_password::placeholder {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
}

.new_compte {
    color: black;
    margin-left:50px;
    font-size: 15px;
    block-size: 0;
    display: flex;
} 

.Bouton_connexion {
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
    margin-left: 550px;
    width: 150px;
    height: 50px;
    border-radius: 90px;
    font-size: 20px;
    display: inline-block;
}